<div class="container">
  <div class="filters">
    <span>Filters</span>
    <form>
      <mat-form-field class="full-width">
        <mat-label>Insurer</mat-label>
        <input matInput />
      </mat-form-field>
    </form>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="results">
    <span>results</span>
    <app-plan-list-item></app-plan-list-item>
  </div>
</div>
