section {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr 2.5fr;
  h1 {
    justify-self: start;
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  app-plan-list {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
